<%= form_for([@log, Collaboration.new]) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    Add User: 
    <%= f.text_field :email, :class => "input-xxlarge", :placeholder => "User's email address" %>
    <%= f.submit 'Add User', :class => 'btn' %>
  </div>
<% end %>
