// Place all the styles related to the Collaborations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#collaboration_email{
  margin-bottom: 0px;
}

.collaborator{
  td{ padding:10px; }
  form{ display:inline; }
}